name: Build

on:
  push:
    branches: [ 'main' ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ '**' ]
  workflow_dispatch:

jobs:
  build:
    name: Build (${{ matrix.node-version }})
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        node-version: [ latest, 20, 22, 24, 'lts/*' ]
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v5

      # Setup
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      # Test
      - name: Install dependencies
        run: npm ci

      - name: Test
        run: |-
          npm run build
          npm run test:ci

  build-all:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [ build ]
    steps:
      - run: echo OK

  publish:
    name: Publish
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      id-token: write
      contents: read
    needs: [ build-all ]
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v5

      # Setup
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
          registry-url: 'https://registry.npmjs.org'

      # Dependencies
      - name: Install dependencies
        run: npm ci

      # Publish
      - name: Publish
        run: npm publish
