name: Lint

on:
  pull_request:
    branches: [ '**' ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v6

      # Setup Node
      - name: Setup Node
        uses: actions/setup-node@v6

      # Lint
      - uses: reviewdog/action-eslint@v1
        with:
          fail_on_error: true
          reporter: ${{ github.event_name == 'pull_request' && 'github-pr-review' || 'github-check' }}
